
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.959);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
      
}
li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: red;
    
    
}

.botão {
    background-color:#D6000D;
    border-radius: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    color: white;
}
.list {
    align-items: center;
    justify-content: center;
}


.section1 {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    
    
}
.Title {
    padding: 100px;
}
.one, .two, .tree {


}
.one {
    font-family: roboto;
    font-size:xx-large;
}

.two {
    font-family: roboto;
    font-size: 4rem;
    color:red;
}

.tree {
    margin-top: 10%;
    padding: 3% 3% 3% 0%;
    background-color: red;
    color: white;
    font-family: roboto;
    border-radius: 20px;
    text-align: center;
}


    .gg-check-o {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 44px;
        height: 44px;
        border: 4px solid;
        border-radius: 200px;
        background-color:#D6000D;
        color: white;
    }
    .gg-check-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 6px;
        top: -2px;
        width: 12px;
        height: 20px;
        border-color: currentColor;
        border-width: 0 4px 4px 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(45deg)
    }

    .align {
        display: flex;
        padding: 10px;
    }
    img {
        height: 400px;
    }
    .section2 {
        padding-top:10%;
        display: flex;
        justify-content: space-around;
        
    }
    .font-section2 {
        font-family: roboto;
        font-size: 2rem;

    }
    .align-newslatter {
        display: flex;
        
    }
    .tel {
            padding: 15px 70px 15px 70px;
            background-color: rgb(187, 187, 187);
            font-family: roboto;
            border-radius: 10px;
            color: rgb(105, 105, 105);
            margin-right: 10px;
    }

    .call {
        padding: 15px 70px 15px 70px;
            background-color: red;
            font-family: roboto;
            color: white;
            border-radius: 10px;
            font-size: 1.3rem;

    }

    .newslatter {
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .font-sectionnreslatter {
        margin-bottom: 3%;
        font-family: roboto;
        font-style:inherit;
        display: flex;
      
    }
    .section3 {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .card {
        height: 125px;
        width: 400px;
        background-color: #c2c1c1;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 20% 60%;
        grid-template-rows: 51% 14% 35%;
        grid-row-gap:1%;
        grid-column-gap:15px;
        margin: 0 25px 0 25px

    }

    .box-circle {
        background-color: #D6000D;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    
    .fontsection3 {
        font-family: roboto;
        background-color: #c2c1c1;
        margin: 6px;
    }

    .fontsection3-1 {
        font-family: roboto;
        grid-column-start: 2;
        grid-row-start: 2;
        background-color: #c2c1c1;
        margin: 5px;
    }

    .font-section3-2 {
        grid-column-start: 2;
        background-color: #c2c1c1;
        margin: 5px;
        font-family: roboto;
    }
    footer {
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding-bottom: 10%;
    }

    .textone {
            background-color: black;
    }

    .texttwo {
        background-color: black;
    }


    .texttree{
        background-color: black;
    }

    .textfour {
        background-color: black;
    }

    .img-textfour {
        height: 30px;
        background-color: black;
    }
    
    .textfootermain {
        font-family: roboto;
        color: white;
        background-color: black;
        margin-top: 25px;
    }

    .textfootersecunda {
        font-family: roboto;
        color: white;
        background-color: black;
        margin-top: 25px;
    }

    .textfootermaincenter {
        font-family: roboto;
        color: white;
        background-color: black;
        font-size: 50px;
        margin-top: 10px;
    }
    a {
        color: white;
        background-color: black;
        
    }


@media (max-width:980px ) {
    .section1 {
        display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }
    .img12 {
        height: 350px;
        width: 398px;
        justify-self:center;
        align-self: center;
    }
    .section2 {
        padding-top:10%;
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }

    .newslatter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 0;
    }
    .align-newslatter {
        display: flex;
        flex-direction: column;
        margin: 10px;
        
    }
    .call {
        margin-top: 20px;
    }

    .tel {
        align-self: center;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-top: 20px;
    }


}

@media (max-width:750px ) {
    header {
        display: flex;
        flex-direction: column;
    }
    header ul {
        margin-top: 20px;
    }

    footer {
        flex-direction: column;
    }

    .textone {
        align-self: center;
    }
    .textfootermaincenter { 
        text-align: center;
        margin-bottom: 25px;
    }

    .texttwo, .texttree, .textfour {
        margin-left: 60px ;
        
    }

    .botão {
        display: none;
    }
}

@media (max-width:450px) {
    .img12 {
        height: 233px;
        width:266px;
    }
    .section1 {
        margin-bottom: 0;
    }
    .card {
        width: 333px;
    }
    .two {
        font-size: 3rem;
    }
    .one{
        font-size: x-large;
    }
    .font-section2 {
        font-size: 1.5rem; ;
    }
    .font-sectionnreslatter {
        align-self: center;
    }
}

@media (max-width:340px) {
        .card {
            grid-column-gap: 0px;
            width: 240px;
           
        }
        .box-circle {
            height: 40px;
            width: 40px;
            
        }
        .fontsection3{
                font-size: 0.50rem;
        }
        .fontsection3-1{
                font-size: 1rem;
        }
        .font-section3-2 {
                font-size: 1rem;
        }
        .two {
            font-size: 1.25rem;
        }
        .one {
            font-size: 0.9rem;
        }
        .tree {
            font-size: 1rem;
            padding: 6% 6% 6% 0%;
        }
        .Title {
            padding: 20px;
        }
        .font-section2 {
            font-size: 1rem;
        }
        .font-sectionnreslatter {
            font-size: 1rem;
        }
        .img12 {
            height: 155px;
            width: 177px;
        }
        ul li {
            font-size: 1rem;
        }
}
    